pyang --ietf validation issues

https://datatracker.ietf.org/doc/draft-claise-opsawg-collected-data-manifest/#
   => YANG validations

draft-claise-opsawg-collected-data-manifest-00.txt:
xym 0.5:
Extracting 'ietf-collected-data-platform-manifest'
   Getting YANG file name from module name: ietf-collected-data-platform-manifest.yang
Extracting 'ietf-collected-data-manifest@2021-10-15.yang'
   Removed 0 empty lines


ietf-collected-data-manifest@2021-10-15.yang:
pyang 2.5.0: pyang --verbose --ietf -p {libs} {model}:
# module search path: a/www/ietf-ftp/yang/rfcmod/:/a/www/ietf-ftp/yang/draftmod/:/a/www/ietf-ftp/yang/ianamod/:/a/www/ietf-ftp/yang/catalogmod/:.:/a/www/ietf-datatracker/7.39.0/env/share/yang/modules
# read ietf-collected-data-manifest@2021-10-15.yang (CL)
ietf-collected-data-manifest@2021-10-15.yang:56: error: keyword "key" not in canonical order (see RFC 7950, Section 14)
ietf-collected-data-manifest@2021-10-15.yang:68: error: keyword "description" not in canonical order, expected "type" (see RFC 7950, Section 14)
ietf-collected-data-manifest@2021-10-15.yang:69: error: keyword "type" not in canonical order (see RFC 7950, Section 14)
ietf-collected-data-manifest@2021-10-15.yang:73: error: keyword "description" not in canonical order, expected "type" (see RFC 7950, Section 14)
ietf-collected-data-manifest@2021-10-15.yang:74: error: keyword "type" not in canonical order (see RFC 7950, Section 14)
ietf-collected-data-manifest@2021-10-15.yang:79: error: keyword "description" not in canonical order, expected "type" (see RFC 7950, Section 14)
ietf-collected-data-manifest@2021-10-15.yang:80: error: keyword "type" not in canonical order (see RFC 7950, Section 14)
ietf-collected-data-manifest@2021-10-15.yang:86: error: keyword "description" not in canonical order, expected "type" (see RFC 7950, Section 14)
ietf-collected-data-manifest@2021-10-15.yang:87: error: keyword "type" not in canonical order (see RFC 7950, Section 14)
ietf-collected-data-manifest@2021-10-15.yang:92: error: keyword "description" not in canonical order, expected "type" (see RFC 7950, Section 14)
ietf-collected-data-manifest@2021-10-15.yang:93: error: keyword "type" not in canonical order (see RFC 7950, Section 14)

yanglint SO 1.6.7: yanglint --verbose -p {tmplib} -p {rfclib} -p {draftlib} -p {ianalib} -p {cataloglib} {model} -i:
No validation errors


Solved by #6 